.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 50;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
}
.left-section{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}

.mid-section{
    flex: 1;        
    max-width:400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar{
    flex:1;
    font-size: 16px;
    height: 35px;
    border-color: lightgrey;    
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 0 10px;
    box-shadow: inset 0px 2px 3px rgb(0,0,0,0.05);
    width: 0;
}

.search-button{
    background-color: rgb(240, 240, 240);
    width: 60px;
    border-color: rgb(192, 192, 192);
    padding: 3.6px 0px;
    border-style: solid;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-width: 1px;
    margin-left: -4px;
    transition: background-color 0.15s;
    flex-shrink: 0;
}

.search-button:hover{
    background-color: rgb(231, 231, 231);
}

.search-button img{
    height: 24px;
}

.search-icon{
    height: 30px;
}

.search-button,
.notifications-icon-container,
.upload-icon-container{
    position: relative;
    cursor: pointer;
}

.search-button .tooltip,
.notifications-icon-container .tooltip,
.upload-icon-container .tooltip{
    position: absolute;
    bottom: -52px;
    font-family: arial;
    font-size: 12px;
    background-color: rgba(96, 96, 96,0.85);
    color: white;
    padding: 9px 8px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-button:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.upload-icon-container:hover .tooltip{
    opacity: 1;
}

.right-section{
    width: 180px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon{
    display: block;
    height: 24px;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{  
    position: absolute;
    top: -4px;
    right: -7px;  
    border: solid;
    color: white;
    background-color: rgb(200, 0, 0);
    font-size: 10.5px;    
    padding: 1px 4.5px;
    border-radius: 19px;
}

.current-user-picture{
    height: 30px;
    border-radius: 15px;
}